/* start code */

body {
    font-family: "Mulish", sans-serif;
}

.header {
    height: 15vh;
    background-color: #000;
    font-size: 21px;
}

.content {
    padding: 0px;
}

.parking {
    padding: 50px 10%;
}

.parking .parking-elements {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.parking .parking-elements .parking-element_left {
    width: 45%;
}

.parking .parking-elements .parking-element_right {
    width: 55%;
    padding: 15px 0px 0px 20px;
    line-height: 1.5rem;
}

.parking .parking-elements .parking-element_right h1 {
    color: #cb7800;
    font-size: 23px;
}

.parking .parking-elements .parking-element_right span {
    font-style: italic;
    font-size: 13px;
}

.parking .parking-elements .parking-element_right .price {
    color: rgb(206, 4, 4);
    font-weight: 800;
}

.parking .parking-elements .parking-element_right div a:hover {
    border: 3px solid;
    color: #cb7800;
    padding: 10px 70px;
    background: white;
}

.parking .parking-elements .parking-element_right div {
    padding: 40px 5px;
}

.parking .parking-elements .parking-element_right div a {
    border: 3px solid #cb7800;
    background: #cb7800;
    padding: 10px 70px;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s;
}

.parking .parking-elements .parking-element_right form .space {
    height: 25px;
}

.parking-slot .slots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    overflow-y: hidden;
    transition: all 0.5s;
}

.parking-slot .view-all {
    height: auto;
}

.parking-slot .slots .slot {
    width: 8%;
    margin: 10px 20px;
    background: #ececec;
    text-align: center;
    padding: 10px 15px;
}

.parking-slot h3 {
    text-align: center;
    color: #c6a47e;
    padding: 15px 0px;
    font-size: 23px;
    font-weight: 600;
}

.sub_banner {
    background-image: url("../../img/banner/banner_4.jpg");
    background-size: cover;
    width: 100%;
    height: 30vh;
}

.view-all-slot {
    padding: 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.ajax-load-details {
    padding: 100px 0px 50px;
}

.ajax-load-details center {
    color: red;
}

.details_parking {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    line-height: 1.5rem;
}

.details_parking .element {
    width: 50%;
}

.details_parking .booking input {
    width: 100%;
    padding: 5px 0px 5px 20px;
    margin: 0px 0px 10px;
}

.details_parking .booking div button {
    border: 3px solid #cb7800;
    background: #cb7800;
    padding: 10px 70px;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s;
}

.details_parking .booking div button:hover {
    border: 3px solid;
    color: #cb7800;
    padding: 10px 70px;
    background: white;
}

.details_parking .booking div {
    padding: 15px 0px;
    text-align: center;
}


/*# sourceMappingURL=main.css.map */


/*# sourceMappingURL=main.css.map */